body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#gameContainer {
    width: 90%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#caseTitle {
    text-transform: uppercase;
}

#welcomeTitle {
    text-transform: uppercase;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#progressBarContainer {
    width: 100%;
    background-color: #e0e0e0;
    margin: 10px 0;
}

#progressBar {
    height: 20px;
    width: 0%;
    background-color: #4CAF50;
    transition: width 90s linear; /* Transition over 90 seconds */
}

#proceedToQuestions {
    display: block; /* Change from inline to block for margin auto to work */
    margin: 20px auto; /* Vertical margin and auto horizontal margin for centering */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#questionProgressBarContainer {
    width: 100%;
    background-color: #e0e0e0;
    margin: 10px 0;
}

#questionProgressBar {
    height: 20px;
    animation: none; /* No animation initially */
    width: 0%;
    background-color: #4CAF50;
    transition: width 30s linear; /* Transition over 30 seconds */
}

#answerOptions {
    list-style: none; /* Removes bullets */
    padding: 0;
    margin: 0; /* Removes default margin */
}

.answerButton {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center; /* Aligns text to the center */
}



@keyframes fillBar {
    from { width: 0%; }
    to { width: 100%; }
}


#questionProgressBar.active {
    animation: fillBar 30s linear forwards; /* Animation will fill the bar in 30 seconds */
}

h1 {
    text-align: center;
    text-transform: uppercase;
    /* Additional styling */
}

.question, .answer {
    font-weight: bold;
}

#showPriorCasesBtn {
    display: block; /* Makes the button fill the width of its container */
    margin: 20px auto; /* Adds margin and centers the button */  
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50; /* Example color, change as needed */
    color: white;          
    border: none;          /* Removes default border */
    border-radius: 5px;    /* Adds a slight curve to the button */
  }

  .caseRaceButton {
    display: block; /* Makes the button fill the width of its container */
    margin: 20px auto; /* Adds margin and centers the button */  
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4CAF50; /* Example color, change as needed */
    color: white;          
    border: none;          /* Removes default border */
    border-radius: 5px;    /* Adds a slight curve to the button */
}

/* In your CSS file */
#caseModal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
    width: 80%;
    max-width: 600px;
    overflow-y: auto;
}

#caseModal .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

#caseModal ul {
    list-style: none;
    padding: 0;
}

#caseModal li {
    cursor: pointer;
    margin: 10px;
    border-bottom: 1px solid #ddd;
}


#caseModal table {
    width: 100%;
    border-collapse: collapse;
}

#caseModal th, #caseModal td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#caseModal tr:nth-child(even) {
    background-color: #f2f2f2;
}

#caseModal tr:hover {
    background-color: #ddd;
}

#caseModal th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}

.clickable-score {
    font-weight: bold;
    color: green;
    text-decoration: underline;
    cursor: pointer;
}
