body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#headerImage {
    display: block;
    margin: 0 auto;
    max-width: 300px;  /* Adjust this value as needed */
    width: 80%;  /* This makes it responsive */
    height: auto;  /* This maintains the aspect ratio */
}

#gameContainer {
    width: 90%;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#caseTitle {
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    color: #4CAF50;
    text-shadow: 
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
}

#welcomeTitle {
    text-transform: uppercase;
    font-size: .8em;
    font-family: 'Press Start 2P', cursive;
    color: #4CAF50;
    text-shadow: 
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
    margin-bottom: 5px;
}

#todaysCaseRace {
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2em;
    text-align: center;
    /*background-color: #ddd;*/
    color:#000;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 auto;
    text-shadow: 
       -1px -1px 0 #4CAF50,  
        1px -1px 0 #4CAF50,  
       -1px  1px 0 #4CAF50,  
        1px  1px 0 #4CAF50;  
  /*  border-radius: 10px;  Rounded corners */
  /*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: adds a subtle shadow */
}

.pixel-font-text {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 1em;  /* Adjust this size as needed */
    line-height: 1.5;
    margin: 10px 0;
    color:#000;
    padding: 10px 20px;
    display: inline-block;
    margin: 0 auto;
    text-shadow: 
       -1px -1px 0 #4CAF50,  
        1px -1px 0 #4CAF50,  
       -1px  1px 0 #4CAF50,  
        1px  1px 0 #4CAF50;  
}

.case-race-box {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Softer, translucent black */
    color: #4CAF50;
    padding: 15px 20px;
    display: inline-block;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    line-height: 1.5;
    max-width: 80%;
}

.case-race-text {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #4CAF50;
    line-height: 1.5;
    max-width: 80%;
    margin: 10px auto;
    display: block;
}

#caseSnippet {
    font-size: 0.9em;
    display: inline;
}

#progressBarContainer {
    width: 100%;
    background-color: #e0e0e0;
    margin: 10px 0;
    border-color: #000;
}

#progressBar {
    height: 20px;
    width: 0%;
    background-color: #4CAF50;
    transition: width 90s linear; /* Transition over 90 seconds */
}

#questionProgressBarContainer {
    width: 100%;
    background-color: #e0e0e0;
    margin: 10px 0;
}

#questionProgressBar {
    height: 20px;
    animation: none; /* No animation initially */
    width: 0%;
    background-color: #4CAF50;
    transition: width 30s linear; /* Transition over 30 seconds */
}

#answerOptions {
    list-style: none; /* Removes bullets */
    padding: 0;
    margin: 0; /* Removes default margin */
}

@keyframes fillBar {
    from { width: 0%; }
    to { width: 100%; }
}


#questionProgressBar.active {
    animation: fillBar 30s linear forwards; /* Animation will fill the bar in 30 seconds */
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    /* Additional styling */
}

.leaderboard-title {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-bottom: 20px;
    color: #4CAF50;
    text-shadow: 
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
        text-transform: uppercase;
}

.question-header {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: #4CAF50;
    text-shadow: 
       -1px -1px 0 #000,  
        1px -1px 0 #000,
       -1px  1px 0 #000,
        1px  1px 0 #000;
    text-transform: uppercase;
}

.question, .answer {
    font-weight: bold;
}

/* In your CSS file */
#caseModal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
    width: 80%;
    max-width: 600px;
    overflow-y: auto;
}

#caseModal .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

#caseModal ul {
    list-style: none;
    padding: 0;
}

#caseModal li {
    cursor: pointer;
    margin: 10px;
    border-bottom: 1px solid #ddd;
}


#caseModal table {
    width: 100%;
    border-collapse: collapse;
}

#caseModal th, #caseModal td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#caseModal tr:nth-child(even) {
    background-color: #f2f2f2;
}

#caseModal tr:hover {
    background-color: #ddd;
}

#caseModal th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
}

.clickable-score {
    font-weight: bold;
    color: green;
    text-decoration: underline;
    cursor: pointer;
}

table.modern-table {
    width: 100%;
    border-collapse: collapse;
    margin: auto;
}

table.modern-table th,
table.modern-table td {
    border: 1px solid #ddd; /* Light grey border */
    padding: 8px;
    text-align: center; /* Center align text */
}

table.modern-table th {
    background-color: #f2f2f2; /* Light grey background for headers */
    font-weight: bold; /* Bold text for headers */
}

table.modern-table td {
    background-color: #fff; /* White background for cells */
}

table.modern-table tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternate row background color */
}

table.modern-table tr:hover {
    background-color: #f1f1f1; /* Highlight row on hover */
}

/* Add these new button styles */
button, .caseRaceButton {
    display: inline-block;
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    /*border: none;*/
    border-color: #000;
    border-radius: 5px;
    background-color: rgba(76, 175, 80, 0.8); /* Translucent green */
    color: black;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Optional: adds a subtle shadow */
}

button:hover, .caseRaceButton:hover {
    background-color: rgba(76, 175, 80, 1); /* Solid green on hover */
}

#startButton, #proceedToQuestions, #showPriorCasesBtn, #showAnswersBtn {
    display: block;
    width: 100%;
    /*max-width: 300px;*/
    margin: 20px auto;
}

#answerOptions .answerButton {
    display: block;
    width: 100%;
    margin: 10px 0;
    text-align: left;
}

